<div class="reddit__form-signIn" #myForm>
  <div class="reddit__signIn-title">Reddit</div>

  <div class="reddit__signIn-username">
    <input
      type="text"
      autofcus
      name="username"
      id="signIn-username"
      placeholder="Username"
      required
    />
  </div>

  <div class="reddit__signIn-password">
    <input
      type="text"
      autofcus
      name="password"
      id="signIn-password"
      placeholder="Password"
      required
    />
  </div>

  <button (click)="onSignIn($event)" class="reddit__signIn-submit-btn">
    Sign In
  </button>

  <hr />

  <button class="reddit__createAccount-btn">Create New Account</button>
</div>
