<div class="reddit__form-signIn">
  <div class="reddit__signIn-title">Reddit</div>

  <div class="reddit__signIn-username">
    <input
      type="text"
      name="username"
      id="signIn-username"
      placeholder="Username"
      autofcus
    />
  </div>

  <div class="reddit__signIn-password">
    <input
      type="text"
      name="username"
      id="signIn-password"
      placeholder="Password"
      autofcus
    />
  </div>

  <button class="reddit__signIn-submit-btn">Sign In</button>

  <hr />

  <button class="reddit__createAccount-btn">Create New Account</button>
</div>
